---
title: cards42 - The activity cards for software architects
layout: default
---

    <div class="section">
        <div class="group">
            <div class="col span_2_of_2">
                <h1><span class="font250">cards<span class="red">42</span></span><span class="font100">.org</span></h1>

                <img class="card-header" src="../assets/cards42_header_en.jpg" alt="Display of different cards42 cards as an example">

                <div class=" font150">
                    <strong class="red">C</strong>ards for 
                    <strong class="red">A</strong>nalyzing and 
                    <strong class="red">R</strong>eflecting on 
                    <strong class="red">D</strong>oomed 
                    <strong class="red">S</strong>oftware
                </div>
                
            </div>
        </div>
    </div>

<div class="section">
    <div class="group">
        <div class="col span_2_of_2">
            <p>The accompanying page to the cards42 project.</p>

            <h2>Introduction</h2>

            Welcome to the cards42 project! The cards from cards42 support you in your daily work on software architecture. The cards give you short, thought-provoking impulses for difficult situations and help to shed new light on complex challenges.

            This website offers detailed explanations as well as the background and further information about the cards' contents.
        </div>
    </div>
</div>

<div class="section">
    <div class="group">
        <div class="col span_2_of   _2">
            <h2 id="overview">Overview</h2>
            <code>
                {% comment %} accepted techdebt: High code duplication with the card listing generation below {% endcomment %}
            
                {% for card in site.descriptions_EN %} 
                {% assign path_tokens = card.path | split: '/' %}
                {% assign file_tokens = path_tokens[1] | split: '_' %}
                {% assign tag = file_tokens[1] | remove: ".md" %}
                {% assign tags = tags | append: tag | append: " " %}
                {% endfor %}
                
                {% assign sorted_tags = tags | split: " " | sort %}
                {% for sorted_tag in sorted_tags %}
                <a href="#{{sorted_tag}}">{{sorted_tag}}</a> 
                {% endfor %}

            </code>
        </div>
    </div>
</div>
<div class="section">
    <div class="group">
        <div class="col span_2_of_2">
            <h2>Cards</h2>
        </div>
    </div>
</div>
{% for card in site.descriptions_EN %}
    {% include card_EN.html %}
{% endfor %}

{% for i in site.info_EN %}
<div class="section info-section">
    <div class="group">
        <div class="col span_2_of_2">        
            <h2 id="{{i.title | url_encode | downcase }}">{{ i.title }}</h2>
            {{ i.content | markdownify }}
        </div>
    </div>
</div>
{% endfor %}

