---
title: cards42 - Die Mitmach-Karten für Softwarearchitekt*innen
---
<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="cards42.org" />
    <meta property="og:description" content="Cards for Analyzing and Reflecting on Doomed Software" />
    <meta property="og:url" content="https://www.cards42.org/" />
    <meta property="og:site_name" content="cards42.org" />
    <meta property="og:image" content="http://cards42.org/assets/cards42_preview.jpg" />
    <meta property="og:image:secure_url" content="https://cards42.org/assets/cards42_preview.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="831" />
    <meta property="og:image:height" content="558" />
    <meta property="og:image:alt" content="Ein Übersichtsbild der Karten des cards42-Projekts" />

    <script async defer data-domain="cards42.org" src="https://stats.innoq.com/js/index.js"></script>
    <script src="assets/js/polyfill.min.js?features=IntersectionObserver"></script>
    <script src="assets/js/lozad.min.js"></script>
    <script src="assets/js/index.js"></script>
    
</head>

<body>
    
    <div id="main">
        <div class="section">
            <div class="group">
                <div class="col span_2_of_2">
                    <h1><span class="font250">cards<span class="red">42</span></span><span class="font100">.org</span></h1>
                    <h2>Die Mitmachkarten für Softwarearchitekt:innen</h2>

                    <img class="card-header" src="assets/cards42_header.jpg" alt="Darstellung verschiedener cards42-Karten als Beispiel">

                    <div class=" font150">
                        <strong class="red">C</strong>ards for 
                        <strong class="red">A</strong>nalyzing and 
                        <strong class="red">R</strong>eflecting on 
                        <strong class="red">D</strong>oomed 
                        <strong class="red">S</strong>oftware
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="group">
            <div class="col span_2_of_2">
                <p>Die Begleitseite zum cards42-Projekt. Now also availabile <a href="./en">in English</a>!

                <h2>Einleitung</h2>

                Willkommen beim cards42-Projekt! Die Karten von cards42 unterstützen bei der täglichen Arbeit mit Softwarearchitekturen. Die Karten geben kurze Denkanstöße für festgefahrene Situationen und helfen, neues Licht auf schwierige Herausforderungen zu werfen.

                Diese Webseite bietet ausführliche Erklärungen sowie die Hintergründe und weitere Informationen zu den Karten.
            </div>
        </div>
    </div>

    <div class="section">
        <div class="group">
            <div class="col span_2_of_2">
                <h2 id="uebersicht">Übersicht</h2>
                <code>
                    {% comment %} accepted techdebt: Hohe Code-Duplikation mit der untereren Erzeugung der Kartenauflistung {% endcomment %}
                
                    {% for card in site.descriptions %} 
                    {% assign path_tokens = card.path | split: '/' %}
                    {% assign file_tokens = path_tokens[1] | split: '_' %}
                    {% assign tag = file_tokens[1] | remove: ".md" %}
                    {% assign tags = tags | append: tag | append: " " %}
                    {% endfor %}
                    
                    {% assign sorted_tags = tags | split: " " | sort %}
                    {% for sorted_tag in sorted_tags %}
                    <a href="#{{sorted_tag}}">#{{sorted_tag}}</a> 
                    {% endfor %}

                </code>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="group">
            <div class="col span_2_of_2">
                <h2>Karten</h2>
            </div>
        </div>
    </div>
    {% for card in site.descriptions %}
    {% assign path_tokens = card.path | split: '/' %}
    {% assign file_tokens = path_tokens[1] | split: '_' %}
    {% assign image = file_tokens[0] %}
    {% assign tag = file_tokens[1] | remove: ".md" %}

    <div class="section">
        <div class="group">
            <div class="col span_2_of_2">
                <h3 id="{{tag}}" class="card-title">{{ card.name }}   <a href="#uebersicht" class="no-decoration triangle">&#9650;</a></h3> 
                <a href="#{{tag}}" class="no-decoration"><code>#{{tag}}</code></a>
            </div>
        </div>
        <div class="group">
            <div class="col span_1_of_2">
                <img class="card-image lozad" data-src="cards/{{image}}.png" />
                <noscript><img class="card-image" src="cards/{{image}}.png" alt="Das Bild für die Karte mit dem Namen {{card.name}}" /></noscript>
                <small><br/>
                    Download:
                        <a href="cards/{{image}}.png" download="{{image}}_{{tag}}.png">PNG</a>
                        <a href="cards_svg/{{image}}.svg" download="{{image}}_{{tag}}.svg">SVG</a>
                    {% if card.examples %}
                        {% assign i = 1 %}
                        {% for filename in card.examples %}
                            <a href="cards_examples/{{filename}}" download="{{filename}}">Beispiel {{i}}</a>
                            {% assign i = i | plus:1 %}
                        {% endfor %}
                    {% else %}
                    {% endif %}

                </small>
            </div>
            <div class="col span_1_of_2">
                {{ card.content | markdownify }}
            </div>
        </div>
    </div>
    {% endfor %}

    {% for i in site.info %}
    <div class="section info-section">
        <div class="group">
            <div class="col span_2_of_2">        
                <h2 id="{{i.title | url_encode | downcase }}">{{ i.title }}</h2>
                {{ i.content | markdownify }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="footer">
        Unterstützt von <a href="https://innoq.com/">innoQ Deutschland GmbH</a> &vert; <a href="https://www.innoq.com/de/datenschutz">Datenschutz</a> &vert; <a href="https://www.innoq.com/de/impressum/#innoqdeutschlandgmbh">Impressum</a> &vert; <a href="https://www.twitter.com/cards42org">Twitter</a>  
    </div>
</body>

</html>
