{% assign path_tokens = card.path | split: '/' %}

{% assign file_tokens = path_tokens[1] | split: '_' %}
{% assign image = file_tokens[0] %}
{% assign tag = card.slug %}
<div class="section">
    <div class="group">
        <div class="col span_2_of_2">
            <h3 id="{{tag}}" class="card-title">{{ card.name }}   <a href="#overview" class="no-decoration triangle">&#9650;</a> <a href="../{{tag}}" class="no-decoration triangle">&#9707;</a></h3> 
        </div>
    </div>
    <div class="group">
        <div class="col span_1_of_2">
            <a href="../{{tag}}/"><img class="card-image lozad" data-src="../cards_EN/{{image}}.png" alt="{% if card.alt %}{{card.alt}}{% else %}The image for the card with the name {{card.name}}{%endif%}" /></a>
            <noscript><a href="/{{tag}}/"></a><img class="card-image" src="../cards_EN/{{image}}.png" alt="{% if card.alt %}{{card.alt}}{% else %}The image for the card with the name {{card.name}}{%endif%}" /></a></noscript>
            <small><br/>
                Download:
                    <a href="../cards_EN/{{image}}.png" download="{{image}}_{{tag}}.png">PNG</a>
                    <a href="../cards_svg_EN/{{image}}.svg" download="{{image}}_{{tag}}.svg">SVG</a>
                    {% if card.examples %}
                    {% assign i = 1 %}
                    {% for filename in card.examples %}
                        <a href="../cards_examples_EN/{{filename}}" download="{{filename}}">Example {{i}}</a>
                        {% assign i = i | plus:1 %}
                    {% endfor %}
                  {% else %}
                  {% endif %}
            </small>
        </div>
        <div class="col span_1_of_2">
            {{ card.content | markdownify }}
        </div>
    </div>
</div>