{% assign card = page %}

{% assign path_tokens = card.path | split: '/' %}

{% assign file_tokens = path_tokens[1] | split: '_' %}
{% assign image = file_tokens[0] %}
{% assign preview_image = file_tokens[0] %}



<head>
  <meta charset="utf-8">
  <title>{% if card.slug %}{{card.name}} - {% else %}{% endif %}cards42.org</title>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/style2021.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/png" href="../favicon.png">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="twitter:card" content="{% if card.slug %}summary{% else %}summary_large_image{% endif %}">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if card.slug %}{{card.name}} - {% else %}{% endif %}cards42.org" />
  <meta property="og:description" content="{% if card.slug %}&quot;{{card.name}}&quot; from {% else %}{% endif %}Cards for Analyzing and Reflecting on Doomed Software &ndash; activity cards for software architects" />
  <meta property="og:url" content="https://www.cards42.org/" />
  <meta property="og:site_name" content="cards42.org" />
  <meta property="og:image" content="{% if card.slug %}{{ "/cards_preview_EN/" | prepend: site.baseurl | prepend: site.url }}{{image}}.png{% else %}{{ "/assets/cards42_preview_en.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
  <meta property="og:image:secure_url" content="{% if card.slug %}{{ "/cards_preview_EN/" | prepend: site.baseurl | prepend: site.url }}{{image}}.png{% else %}{{ "/assets/cards42_preview_en.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
  <meta property="og:image:type" content="{% if card.slug %}image/png{% else %}image/jpeg{% endif %}" />
  <meta property="og:image:alt" content="An overview of the cards of the cards42 project" />

  <script src="https://assets.innoq.com/chenin.js"></script>
  <script src="{{ "/assets/js/polyfill.min.js?features=IntersectionObserver" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/assets/js/lozad.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/assets/js/index.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  {% comment %} temporarily disabled until we really go live! {% endcomment %}
  <!-- <script>
      new Chenin({siteId: 3, hashMode: true});
  </script>-->
  
</head>